# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------


RewriteRule ^monpotager.fr$   index.php [L]


RewriteRule ^monpotager.fr/1$   publicRoom.php [L]


RewriteRule ^monpotager.fr/2$   joinRoom.php [L]


